.main_button {
    border-radius:150px;
    width : 150px;
    height: 150px;
    font-size:15px;
    color:#fff;
    text-align:center;
    background:#51CBEE;
    border : solid #51CBEE 5px;
    position: absolute;
    line-height: 120px;
}

#container {
    color : white;
    font-size: 20px;
    padding : 5px;
    width : 100%;
    height: 100%;
    position:absolute;
    background-color: rgba(0,0,0,0.1);
    -webkit-backface-visibility: hidden;
    overflow: hidden;
}

#aperture{
    position: absolute;
    top : 0px;
    left : 0px;
    width: 100%;
    border-bottom : 2px solid;
    border-top : 2px solid;
    border-bottom-color: red;
    border-top-color:  red;    
}

.icon {
    position: absolute;
    top : 0px;
    left: 0px;
}


.black-view {
    background-color: rgba(0,0,0,0.5);
    padding : 20px;
    color : white;
    height : 110px;
}

#count_area {
    z-index:1000;
    position:absolute;
    font-size:60px;
    text-align:center
}
.header {
    background : #51CBEE;
    font-size : 20px;
    padding : 10px;
    color : white;
    position : fixed;
    width : 100%;
    top : 0;
    left : 0;
    z-index: 999;
    height: 50px;
}

.footer {
    position:fixed; 
    width:100%; 
    height:50px;
    background-color:lightgrey; 
    bottom:0px;
    padding:5px;
}

#property_div {
    margin-bottom: 300px;
}


@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}


@keyframes glow {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

@-webkit-keyframes glow {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}

.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

.pulse-red {
    background: rgba(255,0,0,0.6);
    animation:fade 1000ms infinite;
    -webkit-animation:fade 1000ms infinite;
}

.motion {
    -webkit-transition: 200ms ease-in-out;
    -moz-transition: 200ms ease-in-out;
    -ms-transition : 200ms ease-in-out;
    -webkit-transition-property: top,left;
    -moz-transition-property: top,left;
    -ms-transition-property: top,left;
}

.anim_area {
    width : 20px;
    height: 20px;
    border-radius: 20px;
    position: relative;
    top : 0px;
    left : 0px;
}

.round_icon {
    border-radius: 100px;
    background-color: #51CBEE;
}


#img_container {
   padding : 10px;
}

#img_container img {
    margin : 5px;
}

.long_link {
    background-color: rgb(29, 139, 232);
    padding: 12px;
    border-bottom: 1px solid lightblue;
    cursor: pointer;
    font-size: 18px;
    color:white;
}

.long_link:hover {
    background-color: rgb(135, 206, 235);
}

#action_select_container {
    background-color : rgb(29, 139, 232);
    padding: 5px;
    margin-top: 10px;
    cursor: pointer;
}

.modal-content {
    border-radius: 0px;
}

#modal_content_area {
    font-size: 16px;
}

h4 {
   color : rgb(29, 139, 232); 
}

.symbol {
    padding: 5px;
    text-align: center;
    font-size: 30px;
    background-color: lightgrey;
}

.dropdown-menu {
    padding : 5px;
    font-size: 20px;
    width : 100%;
}